.header {
    display: flex;
    flex-direction: column;
    height: 189px;
    width: 1283px;
    justify-content: space-between;
    align-items: start;
    margin: 63px auto;
}
.ra {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
}

.mda {
    color: #4BCAFF;
}

.header-nav {
    display: flex;
    justify-content: center;
    width: 1279.999px;
    height: 69px;
    background-color: #35444F;
}

.header-cup {
    display: flex;
    
}

.item {
    border-left: 1px solid #FFF;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
}

.item-1 {
    padding: 24px 32px 18px 32px;

}

.item-2 {
    padding: 24px 38px 18px 38px;

}

.item-3 {
    padding: 24px 40px 18px 40px;

}

.item-4 {
    padding: 24px 18px 18px 40px; /* цей елемент на самому макеті був трохи кривий*/
    border-right: 1px solid #fff;
}

.main {
    width: 1283px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main-list {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 399px;
    border: 1px solid #000;
}

.main-item {
    display: flex;
    height: 27px;
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 100% */
}

.main-item-1 {
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 52px;
    width: 106px;
}

.main-item-2 {
    padding-left: 44px;
    padding-bottom: 52px;
    width: 226px;
}

.main-item-3 {
    padding-left: 44px;
    padding-bottom: 52px;
    width: 220px;
}

.main-item-4 {
    padding-left: 44px;
    padding-bottom: 52px;
    width: 179px;
}

.main-item-5 {
    padding-left: 44px;
    padding-bottom: 52px;
    width: 153px;
}

.main-content {
    width: 885px;
    height: 832px;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 885px;
    height: 529px;
}

.content-paragraph {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.content-gap {
    padding-top: 37px;
    padding-bottom: 13px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 54px auto;
    margin-bottom: 30px;
    width: 1280px;
    height: 69px;
    background-color:rgba(99, 105, 110, 0.48);;
}

.footer-item {
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.footer-list {
    padding: 20px 135px 21px 40px;
}

.footer-span {
    padding-right: 40px;
}